body { 
  font: 16px Verdana, Arial, Helvetica, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
 }

h1 { 
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-size: 1.8em;
  margin: 0px;
}
h3 {
  font-size: 1.2em;
  margin: 0px;
}

div.terminal {
  background-color: rgb(242,242,242);
  border: 1px solid rgb(127,127,127);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.terminal-wide15 {
  background-color: rgb(242,242,242);
  border: 1px solid rgb(127,127,127);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0%;
  font-size: 15px;
}

div.terminal-wide14 {
  background-color: rgb(242,242,242);
  border: 1px solid rgb(127,127,127);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0%;
  font-size: 14px;
}

div.terminal-wide13 {
  background-color: rgb(242,242,242);
  border: 1px solid rgb(127,127,127);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0%;
  font-size: 13px;
}

div.terminal-wide12 {
  background-color: rgb(242,242,242);
  border: 1px solid rgb(127,127,127);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0%;
  font-size: 10px;
}
